.edit-buttons {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 6px 10px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 100;
  .fa, a {
  	color: rgba(0, 0, 0, 0.6);
  	cursor: pointer;
  }
  .fa:hover, a:hover {
  	color: @white
  }
  .fa:last-of-type {
  	margin-right: 0
  }
}