body, html {
  height: 100%;
}

body {
  background: @gray-lighter;
}

header {
  height: 80px;
  background: darken(@gray-lighter, 20%);
  .logo-Cypressy {
    background: @gray-dark;
    width: 250px;
    height: 100%;
    display: inline-block;
  }
}
.container-fluid {
  padding: 0;
  height: 100%;
  position: relative;
  aside {
    height: 100%;
    background: @gray-darker;
    width: 250px;
    display: inline-block;
  }

}