

// colours for the menu
@light-blue: #78c5d6;
@blue:       #459ba8;
@dark-green: #79c267;
@green:      #c5d647;
@yellow:     #f5d63d;
@orange:     #f28c33;
@pink:       #e868a2;
@purple:     #bf62a6;
@white:      #ffffff;
@gray-light: #cecece;
@gray-mid:   #5b5b5b;

@header-logo:    @gray-dark;
@header-user:    darken(@gray-lighter, 10%);
@aside:          @gray-darker;
@body-text:      @gray-mid;
@body-text-size: 13px;

@aside-width:    250px;

@text-panel-company:   @white;
@link-aside:           @white;
@text-aside:           @white;

@raleway: 'Raleway', sans-serif;

// sizes
@height-dashboard-panel-first-row:    200px; 
